.outer-box{
  margin-top: 5rem;
  margin-left: 5rem;
  height: 20rem;
  width: 20rem;
  border: 1px solid rgb(148, 148, 148);
  position: relative;
  border-radius: 50%;
  box-shadow: 5px 5px 5px rgb(108, 101, 101), inset 5px -5px 5px rgb(193, 192, 192), inset -5px 5px 5px rgb(207, 206, 206);
  animation: animation1 10s linear 1s infinite;
  
}
.inner-box{
  height: 5rem;
  width: 5rem;
  border: 1px solid rgb(167, 167, 179);
  position: absolute;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 5px 5px 5px rgb(108, 101, 101), inset 5px -5px 5px rgb(193, 192, 192), inset -5px 5px 5px rgb(207, 206, 206);  
 
}
.inner-box span{
  position: absolute;
  padding: 1.4rem 1.9rem;
  font-size: 2rem;
  font-weight: bolder;
  animation: animation2 10s linear 1s infinite;
}
.box-1{
  left: -2.5rem;
  top: -2.5rem;
  transform: translate(50%, 50%);
  /* background-color: whitesmoke; */
}
.box-2{
  right: -2.5rem;
  top:-2.5rem;
  transform: translate(-50%, 50%);
  /* background-color: whitesmoke; */
}
.box-3{
  bottom: -2.5rem;
  left: -2.5rem;
  transform: translate(50%, -50%);
  /* background-color: whitesmoke; */
}
.box-4{
  bottom: -2.5rem;
  right: -2.5rem;
  transform: translate(-50%, -50%);
  /* background-color: whitesmoke; */
}
.box-5{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: whitesmoke; */
}
.box-6{
  left: 10rem;
  top: -2.5rem;
  transform: translate(-50%, 0);
  /* background-color: whitesmoke; */
}
.box-7{
  right: -2.5rem;
  top: 10rem;
  transform: translate(0, -50%);
  /* background-color: whitesmoke; */
}
.box-8{
  bottom: -2.5rem;
  left: 10rem;
  transform: translate(-50%, 0);
  /* background-color: whitesmoke; */
}
.box-9{
  top: 10rem;
  left: -2.5rem;
  transform: translate(0, -50%);
  /* background-color: whitesmoke; */
}

@keyframes animation1 {
  0%{
    transform: rotate(0deg);
    /* transform: scale(1.1); */
  }

  100%{
    transform: rotate(360deg);
    /* transform: scale(.9); */
  }
}
@keyframes animation2 {
  0%{
    transform: rotate(0deg);
    /* transform: scale(1.1); */
  }

  100%{
    transform: rotate(-360deg);
    /* transform: scale(.9); */
  }
}



/* -------------moving bus--------------- */
.bus-body{
  height: 5rem;
  width: 10rem;
  border: 1px solid black;
  border-radius: 15px 15px 5px 5px;
  background-color: red;
  position: relative;
  animation: busMove 3s linear 1s infinite;
  
}
.bus-windows{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
   
}
.window{
  border: 1px solid black;
  height: 2rem;
  width: 4rem;
  margin: 0 2px;
  background-color: rgb(49, 196, 88);
}
.window-1{
  border-radius: 15px 0 0 0; 
}
.window-3{
  border-radius: 0 15px 0 0; 
}
.road{
  border: 2px dashed black;
  width: 50rem;
  height: 0;
  margin: 1rem;
  animation: roadMove 8s linear 1s infinite;
}
.bus-tyres{
  display: flex;
  flex-direction: row;
}
.tyre{
  height: 2rem;
  width: 2rem;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  animation: tyreMove 1s linear 1s infinite;
  box-shadow: 1px 1px 1px grey, inset 1px 1px 1px grey;
  background-color: black;
}
.bus-body span{
  color: white;
  font-size: larger;
  font-weight: bolder;
  margin: 0 3.4rem;
}
.tyre-inner{
  height: 15px;
  width: 15px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}
.tyre-1{
  bottom: -1rem;
  left: 1rem;
}
.tyre-2{
  bottom: -1rem;
  right: 1rem
}

@keyframes roadMove {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-30rem);
  }
}
@keyframes busMove {
  0%{
    transform: translateY(.5px);
  }
  20%{
    transform: translateY(-.5px);
  }
  40%{
    transform: translateY(.5px);
  }
  60%{
    transform: translateY(-.5px);
  }
  80%{
    transform: translateY(.5px);
  }
  100%{
    transform: translateY(-.5px);
  }
}
@keyframes tyreMove {
  0%{
    transform: rotate(0deg);
  }
  20%{
    transform: rotate(72deg);
  }
  40%{
    transform: rotate(144deg);
  }
  60%{
    transform: rotate(216deg);
  }
  80%{
    transform: rotate(288deg);
  }
  100%{
    transform: rotate(360deg);
  }
}